In [15]:
import numpy as np
import pandas as pd
hivict = pd.read_csv("..\\data\\Highest_victim_count.csv") #highest victim count

popdens = pd.read_json("..\\data\\country-population-density.json") #population density

povrates = pd.read_csv('..\\data\\spoverty_rate.csv') #poverty rate

mainvict = pd.read_csv("..\\data\\15_to_30_victim_count.csv") #main, 15-30 victim count

less5vict=pd.read_csv("..\\data\\Lessthan_5_victim_count.csv")

fr5to14vict=pd.read_csv("..\\data\\5_to_14_victim_count.csv")

countrycode=pd.read_csv("..\\data\\iso_countrycode.csv")

In [16]:
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 760)
pd.set_option('display.max_colwidth', 200)

In [17]:
# homogeneizar nombres de columnas
for df in hivict,mainvict,less5vict,fr5to14vict:
    for col in df:
        df.rename(columns={col:col.lower()}, inplace=True)

### Highest victim count

In [18]:
hivict.head() #(34 killers)

,name,country,years active,proven victims,possible victims,notes
0,Luis Garavito,Colombia\r\nEcuador\r\nVenezuela,1992 to 1999,138,172–300+,"Child-murderer, torture-killer, and rapist known as ""La Bestia"" (""The Beast""). Confessed to killing 140 boys between eight and 16 years old over a seven-year period in Colombia and neighboring cou..."
1,Pedro López,Colombia\r\nPeru\r\nEcuador,1969 to 1979,110,300+,"Child-murderer and rapist, known as ""The Monster of the Andes"". Targeted young girls, between the ages of eight and 12. Arrested in 1980 and convicted in 1983 of killing three young girls, but cla..."
2,Javed Iqbal,Pakistan,1998 to 1999,100,100,"Child-murderer and rapist, known as ""Kukri"", Iqbal murdered 100 street children by strangling them and covering up his crimes by dissolving the bodies with acid. He was arrested in 1999 thanks to ..."
3,Mikhail Popkov,Russia,1992 to 2010,83,83+,"Serial rapist-killer nicknamed ""The Werewolf"", who was active for two decades in Angarsk, Irkutsk and Vladivostok. After being convicted of 22 murders in 2015, he confessed to an additional 59 mur..."
4,Daniel Camargo Barbosa,Colombia\r\nEcuador\r\nBrazil (alleged),1974 to 1986,72,180,"Child and woman murderer, believed to have possibly raped and killed over 150 victims, primarily targeting female children as they were more likely to be virgins. Confessed to killing 72 victims. ..."

In [19]:
hivict.describe()
#possible vic=str; check if country matches other DFs

       proven victims
count       34.000000
mean        52.764706
std         24.601132
min         32.000000
25%         35.250000
50%         46.500000
75%         59.500000
max        138.000000

In [20]:
hivict['country'].value_counts()

country
United States                                            5
Soviet Union                                             4
Russia                                                   3
Brazil                                                   3
India                                                    2
China                                                    2
Soviet Union\r\nUkraine                                  2
Indonesia                                                1
Mexico                                                   1
Ottoman Empire\r\n Iraq\r\n Iran                         1
Kingdom of Romania\r\nYugoslavia\r\nHungary (alleged)    1
Morocco                                                  1
South Africa                                             1
Colombia\r\nEcuador\r\nVenezuela                         1
Canada                                                   1
Colombia\r\nPeru\r\nEcuador                              1
Italy                                                    1
Colombia\r\nEcuador\r\nBrazil (alleged)                  1
Pakistan                                                 1
Egypt                                                    1
Name: count, dtype: int64

In [21]:
#separating countries in the same cell as a list
hivict['country']=hivict['country'].str.split('\r\n')

In [22]:
#dividing list in several rows and removing the " (alleged)" bit
hivictexp=hivict.explode('country')
hivictexp['country']=hivictexp['country'].str.replace(" (alleged)","")
hivictexp['country'].unique()

array(['Colombia', 'Ecuador', 'Venezuela', 'Peru', 'Pakistan', 'Russia',
       'Brazil', 'India', 'China', 'United States', 'Italy',
       'Soviet Union', 'Ukraine', 'Canada', 'Indonesia', 'South Africa',
       'Morocco', 'Kingdom of Romania', 'Yugoslavia', 'Hungary',
       'Ottoman Empire', ' Iraq', ' Iran', 'Mexico', 'Egypt'],
      dtype=object)

In [23]:
hivictexp.to_csv("..\\utils\\explode_highest_victim.csv")

### 15-30 victim count (main)

In [24]:
mainvict.describe() #78 killers, duplicates previous?; NANs

       proven victims
count       78.000000
mean        19.294872
std          4.099759
min         15.000000
25%         16.000000
50%         18.000000
75%         21.000000
max         30.000000

In [25]:
mainvict['country'].value_counts() #DIFFERENT COUNTRY FREQ, compare both
#tb hay varios países en misma celda; limpiar

country
United States                                               15
South Africa                                                10
India                                                        7
Russia                                                       5
Iran                                                         3
China                                                        3
Germany                                                      2
Soviet Union                                                 2
Italy                                                        2
Brazil                                                       2
South Korea                                                  2
Colombia                                                     2
Austria-Hungary                                              1
France\r\nGermany (suspected)\r\nSwitzerland (suspected)     1
United States\r\nMexico                                      1
Venezuela                                                    1
Spain                                                        1
France\r\nBelgium                                            1
Swaziland                                                    1
Ukraine                                                      1
Peru                                                         1
France                                                       1
Turkey                                                       1
Latvia                                                       1
Soviet Union\r\nRussia                                       1
Costa Rica                                                   1
Greece                                                       1
Afghanistan                                                  1
Mexico                                                       1
United Kingdom                                               1
Romania                                                      1
Soviet Union\r\nRussia\r\nTajikistan                         1
United States\r\nCanada                                      1
Ecuador                                                      1
Argentina                                                    1
Name: count, dtype: int64

In [26]:
mainvict['country']=mainvict['country'].str.split('\r\n')
mainvictexp=mainvict.explode('country')
# mainvictexp['country']=mainvictexp['country'].str.replace(" (alleged)","")
mainvictexp['country']=mainvictexp['country'].str.replace(" (suspected)","")
mainvictexp['country'].unique()

array(['Germany', 'Brazil', 'Colombia', 'Swaziland', 'China',
       'South Africa', 'Greece', 'United Kingdom', 'India',
       'United States', 'Austria-Hungary', 'Iran', 'France',
       'Switzerland', 'Ecuador', 'Canada', 'Soviet Union', 'Russia',
       'Tajikistan', 'Romania', 'South Korea', 'Mexico', 'Afghanistan',
       'Costa Rica', 'Latvia', 'Turkey', 'Peru', 'Ukraine', 'Italy',
       'Belgium', 'Spain', 'Venezuela', 'Argentina'], dtype=object)

In [27]:
mainvictexp.to_csv("..\\utils\\exp_15_30_victim.csv")

### 5 to 14 victim count

In [28]:
fr5to14vict['country'].value_counts() #164 killers

country
United States                                                                                    61
Russia                                                                                           13
South Africa                                                                                      8
Soviet Union                                                                                      6
Australia                                                                                         5
France                                                                                            5
Canada                                                                                            4
China                                                                                             4
United Kingdom                                                                                    4
Brazil                                                                                            3
Japan                                                                                             3
Soviet Union\r\nRussia                                                                            3
Turkey                                                                                            2
Spain                                                                                             2
Colombia                                                                                          2
Argentina                                                                                         2
West Germany                                                                                      2
Bangladesh                                                                                        2
South Korea                                                                                       2
Poland                                                                                            2
Belgium                                                                                           2
China\r\nJapan                                                                                    1
Denmark                                                                                           1
Cyprus                                                                                            1
Spain\r\nFrance (claimed)\r\nItaly (claimed)                                                      1
Canada\r\nUnited States                                                                           1
East Germany\r\nGermany\r\nFrance\r\nSpain\r\nCzech Republic (suspected)\r\nItaly (suspected)     1
Belarus                                                                                           1
Costa Rica                                                                                        1
United States\r\n Portuguese Angola                                                               1
Switzerland\r\nFrance\r\nUnited States\r\nYugoslavia (suspected)\r\nItaly (suspected)             1
Czechoslovakia                                                                                    1
German Empire\r\nGermany                                                                          1
Austria\r\nUnited States\r\nCzechoslovakia                                                        1
Soviet Union\r\nRussia\r\nUkraine                                                                 1
India                                                                                             1
Ukraine                                                                                           1
Indonesia                                                                                         1
Mexico                                                                                            1
Yemen                                                                                             1
Thailand\r\nNepal\r\nIndia\r\nMalaysia                                                            1
Germany                                                                                           1
Tunisia                                                                                           1
Latvia                                                                                            1
Pakistan                                                                                          1
Chile                                                                                             1
Italy                                                                                             1
Singapore                                                                                         1
Name: count, dtype: int64

In [29]:
fr5to14vict['country']=fr5to14vict['country'].str.split('\r\n')
fr5to14victexp=fr5to14vict.explode('country')
mainvictexp['country']=mainvictexp['country'].str.replace(" (claimed)","")
mainvictexp['country']=mainvictexp['country'].str.replace(" (suspected)","")
fr5to14victexp['country'].unique()

array(['United States', 'Soviet Union', 'Poland', 'Italy', 'West Germany',
       'Brazil', 'Chile', 'Russia', 'South Korea', 'Pakistan', 'Latvia',
       'South Africa', 'United Kingdom', 'Argentina', 'Tunisia',
       'Germany', 'Thailand', 'Nepal', 'India', 'Malaysia', 'Yemen',
       'Japan', 'Spain', 'Australia', 'Mexico', 'China', 'Austria',
       'Czechoslovakia', 'Canada', 'France', 'Turkey', 'Indonesia',
       'Bangladesh', 'Belgium', 'Ukraine', 'East Germany',
       'Czech Republic (suspected)', 'Italy (suspected)', 'German Empire',
       'Denmark', 'France (claimed)', 'Italy (claimed)', 'Colombia',
       'Cyprus', 'Belarus', 'Costa Rica', ' Portuguese Angola',
       'Switzerland', 'Yugoslavia (suspected)', 'Singapore'], dtype=object)

In [30]:
fr5to14victexp.to_csv("..\\utils\\exp5_14_victim.csv")

### Less than 5 victim count

In [31]:
less5vict['country'].value_counts() #29 killers

country
United States                                                                                                         11
United Kingdom                                                                                                         7
Italy                                                                                                                  2
United Kingdom\r\nIreland (suspected)\r\nWest Germany (suspected)\r\nNetherlands (suspected)\r\nFrance (suspected)     1
Austria                                                                                                                1
Indonesia                                                                                                              1
Soviet Union                                                                                                           1
Mexico                                                                                                                 1
Allied-occupied Germany\r\nWest Germany                                                                                1
Netherlands                                                                                                            1
Japan                                                                                                                  1
Turkey                                                                                                                 1
Name: count, dtype: int64

In [32]:
less5vict['country']=less5vict['country'].str.split('\r\n')
less5exp=less5vict.explode('country')
# less5exp['country']=less5exp['country'].str.replace(" (claimed)","")
# less5exp['country']=less5exp['country'].str.replace(" (suspected)","")
less5exp['country'].unique()

array(['United States', 'United Kingdom', 'Ireland (suspected)',
       'West Germany (suspected)', 'Netherlands (suspected)',
       'France (suspected)', 'Austria', 'Italy', 'Indonesia',
       'Soviet Union', 'Mexico', 'Allied-occupied Germany',
       'West Germany', 'Netherlands', 'Japan', 'Turkey'], dtype=object)

In [33]:
less5exp['country']=less5exp['country'].str.replace(" (suspected)","")
less5exp['country'].unique()

array(['United States', 'United Kingdom', 'Ireland', 'West Germany',
       'Netherlands', 'France', 'Austria', 'Italy', 'Indonesia',
       'Soviet Union', 'Mexico', 'Allied-occupied Germany', 'Japan',
       'Turkey'], dtype=object)

In [104]:
less5exp.to_csv("..\\utils\\exp_less5_victim.csv")

### Demographics

In [34]:
popdens.head() #/km**2

          country  density
0     Afghanistan   46.800
1         Albania  101.230
2         Algeria   16.460
3  American Samoa  275.830
4         Andorra  168.550

In [12]:
popdens

                            country     density
0                       Afghanistan      46.800
1                           Albania     101.230
2                           Algeria      16.460
3                    American Samoa     275.830
4                           Andorra     168.550
5                            Angola      17.220
6               Antigua and Barbuda     204.510
7                         Argentina      15.140
8                           Armenia     104.550
9                             Aruba     571.730
10                        Australia       3.010
11                          Austria     102.830
12                       Azerbaijan     113.920
13                     Bahamas, The      37.700
14                          Bahrain   1,752.860
15                       Bangladesh   1,203.000
16                         Barbados     661.960
17                          Belarus      46.650
18                          Belgium     369.720
19                           Belize      14.550
20                            Benin      91.550
21                          Bermuda   1,300.480
22                           Bhutan      19.780
23                          Bolivia       9.850
24           Bosnia and Herzegovina      75.080
25                         Botswana       3.570
26                           Brazil      23.970
27                Brunei Darussalam      79.280
28                         Bulgaria      66.920
29                     Burkina Faso      61.900
30                          Burundi     395.740
31                       Cabo Verde     123.800
32                         Cambodia      85.740
33                         Cameroon      47.080
34                           Canada       3.870
35                   Cayman Islands     243.480
36         Central African Republic       7.410
37                             Chad      10.190
38                  Channel Islands     852.730
39                            Chile      23.700
40                            China     144.580
41                         Colombia      43.550
42                          Comoros     394.900
43                 Congo, Dem. Rep.      29.780
44                      Congo, Rep.      13.020
45                       Costa Rica      95.420
46                      Ivory Coast      63.890
47                          Croatia      76.000
48                             Cuba     105.840
49                          Curacao     345.720
50                           Cyprus     123.500
51                   Czech Republic     136.240
52                          Denmark     132.310
53                         Djibouti      37.660
54                         Dominica      96.000
55               Dominican Republic     215.310
56                          Ecuador      63.370
57                 Egypt, Arab Rep.      82.430
58                      El Salvador     306.010
59                Equatorial Guinea      26.990
60                          Eritrea      62.700
61                          Estonia      31.250
62                         Ethiopia      94.100
63                   Faeroe Islands      35.440
64                             Fiji      48.220
65                          Finland      17.900
66                           France     120.590
67                 French Polynesia      75.640
68                            Gabon       6.490
69                      Gambia, The     182.740
70                          Georgia      78.320
71                          Germany     231.310
72                            Ghana     113.850
73                           Greece      85.590
74                        Greenland       0.140
75                          Grenada     311.460
76                             Guam     305.790
77                        Guatemala     144.350
78                           Guinea      47.800
79                    Guinea-Bissau      60.610
80                           Guyana       4.060
81                            Haiti     374.360
82                         Honduras      72.370
83             Hong Kong SAR, China   6,845.240
84                          Hungary     109.330
85                          Iceland       3.220
86                            India     421.140
87                        Indonesia     124.000
88               Iran, Islamic Rep.      47.560
89                             Iraq      76.940
90                          Ireland      66.700
91                      Isle of Man     150.680
92                           Israel     372.430
93                            Italy     203.410
94                          Jamaica     250.690
95                            Japan     349.290
96                           Jordan      72.750
97                       Kazakhstan       6.310
98                            Kenya      77.930
99                         Kiribati     126.360
100                Korea, Dem. Rep.     206.760
101                     Korea, Rep.     515.870
102                          Kosovo     167.540
103                          Kuwait     189.030
104                 Kyrgyz Republic      29.820
105                         Lao PDR      29.330
106                          Latvia      32.380
107                         Lebanon     436.700
108                         Lesotho      68.330
109                         Liberia      44.580
110                           Libya       3.520
111                   Liechtenstein     230.780
112                       Lithuania      47.170
113                      Luxembourg     209.730
114                Macao SAR, China  18,942.310
115                  Macedonia, FYR      83.550
116                      Madagascar      39.400
117                          Malawi     173.550
118                        Malaysia      90.450
119                        Maldives   1,150.080
120                            Mali      12.540
121                           Malta   1,322.760
122                Marshall Islands     292.410
123                      Mauritania       3.770
124                       Mauritius     638.570
125                          Mexico      62.930
126           Micronesia, Fed. Sts.     147.930
127                         Moldova     124.020
128                          Monaco  18,915.500
129                        Mongolia       1.830
130                      Montenegro      46.200
131                         Morocco      73.960
132                      Mozambique      32.850
133                         Myanmar      81.520
134                         Namibia       2.800
135                           Nepal     193.910
136                     Netherlands     498.350
137                   New Caledonia      14.330
138                     New Zealand      16.980
139                       Nicaragua      50.530
140                           Niger      14.080
141                         Nigeria     190.620
142        Northern Mariana Islands     117.080
143                          Norway      13.920
144                            Oman      11.740
145                        Pakistan     236.280
146                           Palau      45.470
147                          Panama      51.980
148                Papua New Guinea      16.170
149                        Paraguay      17.120
150                            Peru      23.730
151                     Philippines     329.990
152                          Poland     125.830
153                        Portugal     114.200
154                     Puerto Rico     407.560
155                           Qatar     186.790
156                         Romania      86.790
157              Russian Federation       8.760
158                          Rwanda     477.360
159                           Samoa      67.270
160                      San Marino     524.130
161           Sao Tome and Principe     201.030
162                    Saudi Arabia      13.410
163                         Senegal      73.410
164                          Serbia      81.910
165                      Seychelles     193.850
166                    Sierra Leone      84.400
167                       Singapore   7,713.140
168       Sint Maarten (Dutch part)   1,167.320
169                 Slovak Republic     112.590
170                        Slovenia     102.310
171                 Solomon Islands      20.050
172                         Somalia      16.730
173                    South Africa      43.680
174                     South Sudan       0.000
175                           Spain      93.520
176                       Sri Lanka     326.630
177             St. Kitts and Nevis     208.430
178                       St. Lucia     298.810
179        St. Martin (French part)     574.710
180  St. Vincent and the Grenadines     280.440
181                           Sudan      20.730
182                        Suriname       3.460
183                       Swaziland      72.650
184                          Sweden      23.550
185                     Switzerland     204.510
186            Syrian Arab Republic     124.410
187                      Tajikistan      58.640
188                        Tanzania      55.600
189                        Thailand     131.160
190                     Timor-Leste      79.240
191                            Togo     125.340
192                           Tonga     146.280
193             Trinidad and Tobago     261.430
194                         Tunisia      70.070
195                          Turkey      97.360
196                    Turkmenistan      11.150
197        Turks and Caicos Islands      34.840
198                          Tuvalu     329.200
199                          Uganda     188.070
200                         Ukraine      78.520
201            United Arab Emirates     111.800
202                  United Kingdom     264.940
203                   United States      34.560
204                         Uruguay      19.470
205                      Uzbekistan      71.090
206                         Vanuatu      20.740
207                   Venezuela, RB      34.470
208                         Vietnam     289.320
209           Virgin Islands (U.S.)     299.250
210              West Bank and Gaza     692.610
211                     Yemen, Rep.      46.230
212                          Zambia      19.560
213                        Zimbabwe      36.580

In [35]:
popdens.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  214 non-null    object
 1   density  214 non-null    object
dtypes: object(2)
memory usage: 3.5+ KB

In [36]:
# homogeneizar nombres de columnas
for col in povrates:
    povrates.rename(columns={col:col.lower()}, inplace=True)

povrates.rename(columns={'location':'code', 'time':'year'}, inplace=True)
povrates.head()

  code indicator subject measure frequency  year  value flag codes
0  AUS   POVERTY     TOT      RT         A  2018  0.124        NaN
1  AUS   POVERTY     TOT      RT         A  2020  0.126        NaN
2  AUT   POVERTY     TOT      RT         A  2018  0.094        NaN
3  AUT   POVERTY     TOT      RT         A  2019  0.100        NaN
4  AUT   POVERTY     TOT      RT         A  2020  0.096        NaN

In [37]:
povrates=povrates[['code', 'year','value']] #hacer groupby(location), NANmean de value
povrates.head()
# """AVG POVERTY RATE BY COUNTRY"""
# povrate.groupby(['code'])['value'].mean().sort_values(ascending=False)

  code  year  value
0  AUS  2018  0.124
1  AUS  2020  0.126
2  AUT  2018  0.094
3  AUT  2019  0.100
4  AUT  2020  0.096

In [39]:
# countrycode=countrycode[['English short name lower case', 'Alpha-3 code']]
# countrycode.rename(columns={'English short name lower case':'country name', 'Alpha-3 code': 'code'},inplace=True)
# countrycode.sort_values(['code'])
countrycode['country name'].unique()

C:\Users\Agui\AppData\Local\Temp\ipykernel_19008\2016062082.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countrycode.rename(columns={'English short name lower case':'country name', 'Alpha-3 code': 'code'},inplace=True)

array(['Afghanistan', 'Åland Islands', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antarctica',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia, Plurinational State of',
       'Bosnia and Herzegovina', 'Botswana', 'Bouvet Island', 'Brazil',
       'British Indian Ocean Territory', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada',
       'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands',
       'Colombia', 'Comoros', 'Congo',
       'Congo, the Democratic Republic of the', 'Cook Islands',
       'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
       'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland',
       'France', 'French Guiana', 'French Polynesia',
       'French Southern Territories', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti',
       'Heard Island and McDonald Islands',
       'Holy See (Vatican City State)', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Republic of', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Democratic People's Republic of", 'Korea, Republic of',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libyan Arab Jamahiriya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macao',
       'Macedonia, the former Yugoslav Republic of', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia, Federated States of',
       'Moldova, Republic of', 'Monaco', 'Mongolia', 'Montenegro',
       'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'Netherlands Antilles',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'Norfolk Island', 'Northern Mariana Islands', 'Norway',
       'Oman', 'Pakistan', 'Palau', 'Palestinian Territory, Occupied',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Réunion', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Barthélemy', 'Saint Helena, Ascension and Tristan da Cunha',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa',
       'South Georgia and the South Sandwich Islands', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Svalbard and Jan Mayen',
       'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'Taiwan, Province of China', 'Tajikistan',
       'Tanzania, United Republic of', 'Thailand', 'Timor-Leste', 'Togo',
       'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Minor Outlying Islands', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela, Bolivarian Republic of',
       'Viet Nam', 'Virgin Islands, British', 'Virgin Islands, U.S.',
       'Wallis and Futuna', 'Western Sahara', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [42]:
wrongcountrycode={'Russian Federation':'Russia','Iran, Islamic Republic of':'Iran'}
for wrong,right in wrongcountrycode.items():
    countrycode['country name']=countrycode['country name'].str.replace(wrong, right)

C:\Users\Agui\AppData\Local\Temp\ipykernel_19008\3238571145.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countrycode['country name']=countrycode['country name'].str.replace(wrong, right)

In [43]:
countrycode.to_csv("..\\utils\\cleancountrycode.csv")

### cleaning poverty rate df & its country values

In [44]:
avgpovratecountry=povrates.groupby('code')['value'].mean()
avgpovratecountry.head()
len(avgpovratecountry)

38

In [45]:
avgpovratecountry=pd.DataFrame(avgpovratecountry).reset_index()
avgpovratecountry.rename(columns={'value':'mean value'},inplace=True)

In [ ]:
avgpovratecountry.drop(columns=['level_0','index'],inplace=True)

In [47]:
avgpovratecountry.to_csv("..\\utils\\avgpovrate_value.csv")

In [49]:
povrates.dropna(subset=['value'],inplace=True)
povrates.dropna(subset=['year'],inplace=True)

In [50]:
#drop duplicate codes & years
simplepovrates=povrates.drop(columns='year').drop_duplicates('code')
simplepovrates.head()

   code  value
0   AUS  0.124
2   AUT  0.094
5   BEL  0.082
8   CAN  0.118
11  CZE  0.061

In [51]:
cleanpovrate=simplepovrates.merge(avgpovratecountry, on='code').drop(columns='value')

In [52]:
cleanpovrate.to_csv('..\\utils\\cleanpovrate.csv')

In [53]:
cleanpovrate.head()

  code  mean value
0  AUS    0.125000
1  AUT    0.096667
2  BEL    0.078667
3  CAN    0.106333
4  CZE    0.056667

In [54]:
#add the country name to the poverty rate df and delete the ones with no value (from the code df)
countrypovrate=pd.merge(cleanpovrate, countrycode, how='outer')
countrypovrate.dropna(subset=['mean value'],inplace=True)

In [59]:
# countrypovrate['country name'].unique()

In [57]:
wrongpovratecountries={'Korea, Republic of':'South Korea'}

for wrong,right in wrongpovratecountries.items():
    countrypovrate['country name']=countrypovrate['country name'].str.replace(wrong, right)

In [58]:
countrypovrate['country name'].unique()

array(['Australia', 'Austria', 'Belgium', 'Canada', 'Czech Republic',
       'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Hungary',
       'Ireland', 'Italy', 'South Korea', 'Luxembourg', 'Mexico',
       'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal',
       'Slovakia', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United Kingdom', 'United States', 'Estonia', 'Israel', 'Slovenia',
       'Japan', 'Latvia', 'Lithuania', 'Costa Rica', 'Bulgaria',
       'Romania', 'Croatia'], dtype=object)

In [60]:
len(countrypovrate)
countrypovrate.to_csv('..\\utils\\cleancountrypovrate.csv')

#### cleaning pop density countries

In [63]:
wrongpopdenscountries={'Iran, Islamic Rep.':'Iran','Russian Federation':'Russia','Korea, Rep.':'South Korea',
                       'Venezuela, RB':'Venezuela','Yemen, Rep.':'Yemen'}

for wrong,right in wrongpovratecountries.items():
    popdens['country']=popdens['country'].str.replace(wrong, right)

In [64]:
sorted(list(popdens['country'].unique()))

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Faeroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong SAR, China',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea, Dem. Rep.',
 'Korea, Rep.',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Lao PDR',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao SAR, China',
 'Macedonia, FYR',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Fed. Sts.',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela, RB',
 'Vietnam',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe']

In [65]:
popdens.to_csv("..\\utils\\cleanpopdens.csv")

## old version (decided to start over)

In [1]:
# mergepovrate=pd.merge(povrates, countrycode, how='outer')
# # cleanpovrate = mergecountry.drop('code', axis = 1) # Remove duplicates
# mergepovrate.head()
# # mergecountry

In [2]:
#remove nans
# mergepovrate.dropna(subset=['value'],inplace=True)

In [3]:
#AVG POVRATE PER COUNTRY
# avgpovratecountry=mergepovrate.groupby('country name')['value'].mean()

In [4]:
# popdens.head()

In [5]:
# mergepovrate[mergepovrate['code'].isnull()] # No nans from the merge
# mergepovrate.info()

In [6]:
# mergepovrate.to_csv("..\\utils\\povratecountrycode.csv")

In [7]:
# demographics=pd.merge(mergepovrate, popdens, how='outer',
#                   left_on='country name', right_on='country')
# # demographics[demographics['country name'].isnull()]  #los países que se han quedado vacíos

In [8]:
# demographics.head()
# demographics.groupby('code')['density']

In [9]:
# value_means=demographics.groupby('code')['value'].mean()
# value_means

In [10]:
# #Year will always be the mean between 2018-2021, so i dropped the column & the duplicates
# simpledemog=demographics.drop(columns='year').drop_duplicates('code')
# # simpledemog['value means']=value_means
# simpledemog

In [11]:
# # demographics[demographics['country name'].isnull()]
# # demographics.isnull().value_counts()

# wrongcountries=demographics['country'][demographics['country']!=demographics['country name']]
# # demographics.loc[demographics['country name'].isnull(), 'country'].unique() #gotta clean this
# wrongcountries
# #later: remove one of the columns for country
# #we'll then drop the countries where there are no killers
# wrongcountries.unique()

In [12]:
# wrongcountrynames=demographics['country name'][demographics['country']!=demographics['country name']]
# wrongcountrynames.unique()

In [13]:
# # wcountryname=wrongcountries['country name'][wrongcountries['country'].isnull()] # 68 #turn into dict
# wcountry=wrongcountries['country'][wrongcountries['country name'].isnull()]  # 36
# wcountry.unique()

In [229]:
# # wcountry.nunique()
# wcountryname.nunique()
# country_dict={}
# for country in wcountryname:
#     country_dict[country]=''

# for country in wcountry:
#     country_dict[country]=''
# # len(country_dict)
#ahora a rellenar el dicc con values; cuando esté, crear col en DF

104

In [14]:
# #wrong countries from countrycode
# wrongcocode=np.array(['Bahamas, The', 'Bolivia', 'Cabo Verde', 'Channel Islands',
#        'Congo, Dem. Rep.', 'Congo, Rep.', 'Ivory Coast', 'Curacao',
#        'Egypt, Arab Rep.', 'Faeroe Islands', 'Gambia, The',
#        'Hong Kong SAR, China', 'Iran, Islamic Rep.', 'Korea, Dem. Rep.',
#        'Korea, Rep.', 'Kosovo', 'Kyrgyz Republic', 'Lao PDR', 'Libya',
#        'Macao SAR, China', 'Macedonia, FYR', 'Micronesia, Fed. Sts.',
#        'Moldova', 'Sint Maarten (Dutch part)', 'Slovak Republic',
#        'South Sudan', 'St. Kitts and Nevis', 'St. Lucia',
#        'St. Martin (French part)', 'St. Vincent and the Grenadines',
#        'Tanzania', 'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
#        'West Bank and Gaza', 'Yemen, Rep.'])

# #wrong country names from pop dens
# wrongpopdens=np.array(['Korea, Republic of', 'Slovakia', 'Åland Islands', 'Anguilla',
#        'Antarctica', 'Bahamas', 'Bolivia, Plurinational State of',
#        'Bouvet Island', 'British Indian Ocean Territory', 'Cape Verde',
#        'Christmas Island', 'Cocos (Keeling) Islands', 'Congo',
#        'Congo, the Democratic Republic of the', 'Cook Islands',
#        "Côte d'Ivoire", 'Egypt', 'Falkland Islands (Malvinas)',
#        'Faroe Islands', 'French Guiana', 'French Southern Territories',
#        'Gambia', 'Gibraltar', 'Guadeloupe', 'Guernsey',
#        'Heard Island and McDonald Islands',
#        'Holy See (Vatican City State)', 'Hong Kong',
#        'Iran, Islamic Republic of', 'Jersey',
#        "Korea, Democratic People's Republic of", 'Kyrgyzstan',
#        "Lao People's Democratic Republic", 'Libyan Arab Jamahiriya',
#        'Macao', 'Macedonia, the former Yugoslav Republic of',
#        'Martinique', 'Mayotte', 'Micronesia, Federated States of',
#        'Moldova, Republic of', 'Montserrat', 'Nauru',
#        'Netherlands Antilles', 'Niue', 'Norfolk Island',
#        'Palestinian Territory, Occupied', 'Pitcairn', 'Réunion',
#        'Saint Barthélemy', 'Saint Helena, Ascension and Tristan da Cunha',
#        'Saint Kitts and Nevis', 'Saint Lucia',
#        'Saint Martin (French part)', 'Saint Pierre and Miquelon',
#        'Saint Vincent and the Grenadines',
#        'South Georgia and the South Sandwich Islands',
#        'Svalbard and Jan Mayen', 'Taiwan, Province of China',
#        'Tanzania, United Republic of', 'Tokelau',
#        'United States Minor Outlying Islands',
#        'Venezuela, Bolivarian Republic of', 'Viet Nam',
#        'Virgin Islands, British', 'Virgin Islands, U.S.',
#        'Wallis and Futuna', 'Western Sahara', 'Yemen'])

In [15]:
# wrongcocode=[country.strip() for country in wrongcocode]
# wrongpopdens=[country.strip() for country in wrongpopdens]

In [16]:
# demographics.to_csv('..\\utils\\demographicsraw.csv')